@charset "utf-8";

html {
 height: 99%;
}

body {
	font-family: Arial, Verdana, Helvetica;
	height: 99%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Sakkal Majalla", Arial, Verdana, Helvetica;	
	color: #F60;
	margin: 10px 0;
	clear: both;
}
h1 { font-size: 36px;}
h2 { font-size: 32px;}
h3 { font-size: 24px;}
h4 { font-size: 20px;}
h5 { font-size: 18px;}
h6 { font-size: 16px;}

pre {font-size: small; }

table { font-size: small; }

li {
	margin: 0;
	font-size: medium;
	line-height: 1.4em;
}

div.wrapper {
	position: relative;
	width: 99%;
	height: 99%;
	overflow: hidden;
	z-index: 1000;
	background:-moz-linear-gradient(top, #fff 93%, #F60); /* Firefox */
	background:-webkit-linear-gradient(top, #fff 93%, #F60); /* Safari, Chrome */
	background:-o-linear-gradient(top, #fff 93%, #F60); /* Opera */
	background:-ms-linear-gradient(top, #fff 93%, #F60); /* IE */
	background:linear-gradient(top, #fff 93%, #F60); /* W3C Standard */
}

div.header {
	width: 100%;
	height: 20%;
	min-height: 85px;
	overflow:hidden;
	background:-moz-linear-gradient(right, #fff 15%, #F60); /* Firefox */
	background:-webkit-linear-gradient(right, #fff 15%, #F60); /* Safari, Chrome */
	background:-o-linear-gradient(right, #fff 15%, #F60); /* Opera */
	background:-ms-linear-gradient(right, #fff 15%, #F60); /* IE */
	background:linear-gradient(right, #fff 15%, #F60); /* W3C Standard */
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	z-index: 2000;
}

div.header h1 {
	margin-left: 5%;
	color: #fff;
	position: absolute;
	top: 3%;
}
	
div.logo {
	float:right;
	width: 5px;
	height: 100%;
	background-color:#fff;
}

div.logo img {
	height: 100%;
	float:right;
}
div.menu {
	position: absolute;
	bottom: 79.5%;
}

div.menu li {
	float: left;
	list-style: none inside none;
	margin-top: 23px;
	margin-left: -1px;
}

div.menu li a {
	border: 1px solid #fff;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	padding: 0 10px;
	color: #fff;
	text-decoration: none;
}

div.menu li a:hover {
	background-color: #fa0;
}

div.sidebar {
	position: absolute;
	right: 0px;
	float:right;
	width:210px;
	height: 100%;
	background:-moz-linear-gradient(right, #fff 93%, #F60); /* Firefox */
	background:-webkit-linear-gradient(right, #fff 93%, #F60); /* Safari, Chrome */
	background:-o-linear-gradient(right, #fff 93%, #F60); /* Opera */
	background:-ms-linear-gradient(right, #fff 93%, #F60); /* IE */
	background:linear-gradient(right, #fff 93%, #F60); /* W3C Standard */
	border-top: 1px solid #F60;
	padding-left: 20px;
}

div.sidebar h1 {
	font-size: large;
}
	
div.content, div.toc {
	height: 78%;
	min-height: 300px;
	overflow: auto;
	padding: 0 25px;	
	margin-right: 230px;
}

div.navi {
	margin: 10px 0;
	padding: 0 25px;
}

div.navi a {
	color: #fff;
	background-color: #F60;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	max-width: 30%;
	padding: 0 10px;
	font-size: small;
}

div.navi a:hover {
	background-color: #fa0;
}

div.navi a.next {
	float: right;
}

div.footer {
	margin: 0 auto;
	border-radius: 5px;
	background-color: #F60;
	color: #fff;
	text-align:center;	
	width: 1200px;
	position: absolute;
	bottom: 0px;
	z-index: 100;
	display: none;
}

/*************************************************/
/* Content Styling                               */
/*************************************************/
div.toc ul {
	list-style: none;
	padding-left: 1.2em;
}

div.toc ul  ul{
	list-style-image: url('../images/quadrat.png');
}

div.toc ul li p {
	margin: 15px 0 5px 0;
	font-size: x-large;
}

div.toc ul li ul li p {
	margin: 0;
	font-size: medium;
	line-height: 1.4em;
}

div.content ul {
	list-style: none;
	padding-left: 20px;
	list-style-image: url('../images/quadrat.png');
	font-size: small;
}

div.content img {
    max-width: 100%;
}

div.content img.thumbright,
div.content img.thumbleft {
	width: 300px;
	border-top: 2px solid rgba(0,0,0,0.5);
	border-left: 2px solid rgba(0,0,0,0.5);
	border-right: 6px solid rgba(0,0,0,0.5);
	border-bottom: 6px solid rgba(0,0,0,0.5);
	margin: 5px 25px;
}

div.content img.thumbright {
	float:right;
}

div.content img.thumbleft {
	float:left;
}

div.content img.thumbright:hover,
div.content img.thumbleft:hover {
	height: auto;
	width: 60%;
}

div.content table {
	border-spacing: 0;
}

div.content table td {
	vertical-align: top;
	border: 1px dotted #f60;
}

@media screen and (max-width: 720px) {
	div.sidebar {
		display: none;
	}
	
	div.content, div.toc {
		margin-right: 0px;
	}
	
	div.content img.thumbright:hover,
	div.content img.thumbleft:hover {
		height: auto;
		width: 95%;
	}
	
	div.content img.thumbright,
	div.content img.thumbleft {
		width: 40%;
	}
}
