<div class="navi">
	{% if page.previous %}
		<a class="prev" href="{{site.baseurl}}{{ page.previous.url}}">&lt;&lt; {{ page.previous.title}}</a>
	{% endif %}
	{% if page.next %}
		<a class="next" href="{{site.baseurl}}{{ page.next.url}}">{{ page.next.title}} &gt;&gt;</a>
	{% endif %}
</div>