{% if page.categories != null %}
	<h1>Menu</h1>
	<h2>{{ page.categories }}</h2>
	<ul>
		{% for p in site.pages %}{% if page.categories == p.categories %}
			<li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
		{% endif %}{% endfor %}  
	</ul>
{% endif %}

<h1>Links</h1>
{% if site.apidoc == true or site.redmineid != null %}
	<h2>Links zum Projekt</h2>
	<ul>
		{% if site.apidoc == true %}
		<li><a href="apidoc/">API Dokumentation</a></li>
		{% endif %}
		{% if site.redmineid != null %}
		<li>Redmine
			<ul>
			<li><a href="http://redmine.o4b.ch/projects/{{ site.redmineid }}/repository">Repository</a></li>
			<li><a href="http://redmine.o4b.ch/projects/{{ site.redmineid }}/issues">Tickets</a></li>
			</ul>
		</li>
		{% endif %}
		{% if site.jenkinsjob != null %}
		<li><a href="http://jenkins.o4b.ch/job/{{ site.jenkinsjob }}">Nightly Build</a></li>
		{% endif %}
	</ul>
	<h2>Globale Links</h2>
{% endif %}
<ul>
	<li><a href="http://jamotion.o4b.ch/?db=jamotion_prod" target="_blank">OpenERP</a></li>
	<li><a href="http://redmine.o4b.ch/" target="_blank">Redmine</a></li>
	<li><a href="http://jenkins.o4b.ch/" target="_blank">Jenkins</a></li>
<ul>