<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="en-ch">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<title>Jamotion Wiki - {% if site.title != page.title %}{{ site.title }} - {% endif %}{{ page.title }}</title>
		
		<!-- default stylesheet -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/layout.css" type="text/css" />
		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" type="text/css" />
	</head>
	
	<body>
	<div class="wrapper">
    	<div class="header">
		    <div class="logo">
    			<img src="{{ site.baseurl }}/images/jamotion.png" alt="Jamotion">
		    </div>
            <h1>{% if site.title != page.title %}{{ site.title }}: {% endif %}{{ page.title }}</h1>
			<div class="menu">
				<ul>
					<li><a href="{{ site.baseurl }}">Home</a></li>
					<li><a href="/">Wiki</a></li>
				</ul>
			</div>
        </div>

		<div class="sidebar">
		{% include sidebar.html %}
		</div>
		
		<div class="toc">
			{% include navbar.html %}
			{{ content }}
			{% include navbar.html %}
		</div>
		<br style="clear:both;" />
		<div class="footer">
		Jamotion GmbH, Buchgrindelstrasse 13, 8620 Wetzikon
		</div>
	</body>
</html>
